doctype html
html
	head
		meta(charset="UTF-8")
		title Google Authorization
		style
			include ./index.css
	body
		div.form
			h3 Log in.
			form(action='http://localhost:3000/auth/google', method: 'GET')
				p.Login
					| Enter your login:
					input.text(type='text', name='login')
				p.Password
					| Enter your password:
					input.text(type='password', name='password')
				button(type='submit') Login