doctype html
html
	head
		meta(charset="UTF-8")
		title Google Authorization
		style
			include ./index.css
	body
		div.form
			h3 Log in.
			form(action='http://localhost:3000/auth/google', method: 'GET')
				p.Login throug our site use button
				button(type='submit') Login