*{
	box-sizing: border-box;
}

body{
	margin: 0;
    border: 0;
    padding: 0;
    color: #d2ddd4;
    background-color: #AAD2BA;
}

.container{
	width: 100%;
	text-align: center;
	margin: 35vh auto;
}